<div class="dashboard">
  <h2>Dashboard</h2>
  <p>Visualize your Facebook Ads data!</p>

  <button (click)="getFacebookData()">Show data</button>
  <span id="data">{{data | json }}</span>
  
  <div>
    {{response}}
  </div>

  <div id="campaign-selector">
    <!-- <label for="options">Selecciona una opción:</label>
    <select id="options" [(ngModel)]="opcionSeleccionada">
      <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
    </select>
    <p>Opción seleccionada: {{ opcionSeleccionada }}</p> -->
    <div class="grid">
      <label for="disabled">
        Campaign
        <input type="text" id="disabled" name="disabled" placeholder="Disabled" disabled="">
      </label>
      <label for="disabled">
        Ad Set
        <input type="text" id="disabled" name="disabled" placeholder="Disabled" disabled="">
      </label>
      <label for="disabled">
        Ad
        <input type="text" id="disabled" name="disabled" placeholder="Disabled" disabled="">
      </label>
    </div>
  </div>



  <div class="chart-wrapper">
    <div class="chart-title-wrapper">
      <h2>Line Chart</h2>
      <div #firstChart class="chart-container"></div>
    </div>
  </div>

  <button (click)="generateChart()">Load Chart</button>

</div>
